<ul>
  <% @calendar_list.items.each do |calendar| %>
    <li><%= calendar.summary %> (<%= calendar.id %>)</li>
  <% end %>
</ul>
<ul>
  <% if @event_list != nil %>
    <% @event_list.items.each do |event| %>
      <li><%= event.summary %> (<%= event.id %>)</li>
    <% end %>
  <% end %>

</ul>
