<p id="notice"><%= notice %></p>

<h1>Task Categories</h1>



  <!-- <tbody> -->
  <% @categories.each do |category| %>
  <button class="accordion"><%= category.name %></button>
  <% end %>
<div class="panel">
  <% @categories.each do |category| %>
<p><%= category.description %></p>
<% end %>
</div>



<br>

<%= link_to 'New Category', new_category_path %>

<h1>Completed Tasks</h1>
<ul>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
</ul>
